@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  color: #010101;
}

a {
  text-decoration: none;
  color: #010101;
}

ul {
  list-style: none;
}

.container {
  padding: 0 2rem;
}

img {
  width: 100%;
}

.underline {
  text-decoration: underline;
}

@media (min-width: 540px) {
  .container {
    padding: 0 3rem;
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 0 6rem;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0 10rem;
  }
}

.nav {
  padding-top: 2rem;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  font-weight: 410;
}

.nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav .nav-wrapper .burger-menu {
  display: none;
  z-index: 100;
}

.nav .nav-wrapper .nav-logo {
  z-index: 100;
  cursor: default;
}

.nav .nav-wrapper .nav-link {
  display: flex;
}

.nav .nav-wrapper .nav-link .nav-link-item {
  overflow: hidden;
  padding: 0 4px;
  height: auto;
  margin-left: 1rem;
  position: relative;
}

.nav .nav-wrapper .nav-link .nav-link-item:hover .nav-btn {
  color: red;
  transform: translateY(-100%);
}

.nav .nav-wrapper .nav-link .nav-link-item .nav-btn {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0, 1.07, 0.89, 0.99);
}

.nav .nav-wrapper .nav-link .nav-link-item .nav-btn.animate {
  position: absolute;
  top: 100%;
  left: 4px;
}

.nav .menu-responsive {
  z-index: 50;
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: #fff;
  flex-direction: column;
  align-items: center;
  transition: transform 1s cubic-bezier(0.9, 0.12, 0.2, 1);
  transform: translateY(-100%);
}

.nav .menu-responsive.is-active {
  transform: translateY(0);
}

.nav .menu-responsive .menu-responsive-items {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav .menu-responsive .menu-responsive-items .menu-item-wrap {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 40px;
}

.nav .menu-responsive .menu-responsive-items .menu-item-wrap li {
  font-size: 39px;
  overflow: hidden;
  position: relative;
}

.nav .menu-responsive .menu-responsive-divider {
  border: none;
  border-top: 1px solid #ccc;
  width: 65%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.nav .menu-responsive .menu-responsive-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav .menu-responsive .menu-responsive-footer h4 {
  margin-bottom: 1rem;
}

.nav .menu-responsive .menu-responsive-footer a {
  border-bottom: 1px solid #333;
  padding-bottom: 3px;
}

.nav .bg-dimming {
  display: none;
}

.nav .nav-wrapper .burger-menu {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.nav .nav-wrapper .burger-menu .burger-menu-top {
  width: 24px;
  height: 1px;
  background: #010101;
  margin: 5px 0;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav .nav-wrapper .burger-menu .burger-menu-bottom {
  width: 24px;
  height: 1px;
  background: #010101;
  margin: 5px 0;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav .nav-wrapper .burger-menu.is-active .burger-menu-top {
  transform: translateY(3px) rotate(45deg);
}

.nav .nav-wrapper .burger-menu.is-active .burger-menu-bottom {
  transform: translateY(-3px) rotate(-45deg);
}

@media (max-width: 800px) {
  .nav .nav-wrapper .burger-menu {
    display: block;
  }
  .nav .nav-wrapper .nav-link {
    display: none;
  }
  .nav .menu-responsive {
    display: flex;
  }
}

#hero {
  width: 100%;
  height: 100vh;
}

#hero .container {
  height: 100%;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  align-items: center;
}

.hero-container .hero-headline {
  grid-row: 1;
  grid-column: 1/4;
  z-index: 10;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
}

.hero-container .hero-avatar {
  grid-row: 1;
  grid-column: 3/5;
}

#hero .hero-contact-cta {
  position: absolute;
  bottom: 5rem;
  right: 0;
  overflow: hidden;
}

#hero .hero-contact-cta .cta-link {
  font-weight: 401;
  font-size: 0.85rem;
  position: relative;
}

#hero .hero-contact-cta .cta-link:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #333;
  transform: translateX(-200%);
  transition: all 500ms ease-in-out;
}

#hero .hero-contact-cta .cta-link:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #333;
  transform: translateX(0);
  transition: all 500ms ease-in-out;
}

#hero .hero-contact-cta .cta-link:hover:before {
  transform: translateX(0);
}

#hero .hero-contact-cta .cta-link:hover:after {
  transform: translateX(200%);
}

#hero .c-spinner {
  position: absolute;
  bottom: 5rem;
  left: -2rem;
  width: 10rem;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 901px) {
  .hero-container .hero-headline {
    font-size: 4rem;
  }
}

@media (max-width: 900px) {
  .hero-container .hero-headline {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {
  .hero-container .hero-headline {
    font-size: 1.5rem;
    grid-column: 1/5;
  }
  .hero-container .hero-avatar {
    display: none;
  }
  #hero .c-spinner {
    width: 7rem;
  }
}
