@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  color: #010101;
  line-height: 1.5;
  transition-duration: 0.3s;
}

body.dark {
  background: #010101;
  color: #fafafa;
}

a {
  text-decoration: none;
  color: #010101;
}

ul {
  list-style: none;
}

.container {
  padding: 0 2rem;
}

img {
  width: 100%;
}

.underline {
  text-decoration: underline;
}

@media (min-width: 540px) {
  .container {
    padding: 0 4rem;
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 0 6rem;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0 10rem;
  }
}

.nav {
  padding-top: 2rem;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  font-weight: 410;
}

#body.dark .nav-link-item .nav-btn {
  color: #fff;
}

#body.dark .nav-link-item .animate {
  color: #e64d43;
}

#body.dark .burger-menu .burger-menu-top,
#body.dark .burger-menu .burger-menu-bottom {
  background: #d7c9c2;
}

.nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav .nav-wrapper .burger-menu {
  display: none;
  z-index: 100;
}

.nav .nav-wrapper .nav-logo {
  z-index: 100;
  cursor: default;
}

.nav .nav-wrapper .nav-link {
  display: flex;
}

.nav .nav-wrapper .nav-link .nav-link-item {
  overflow: hidden;
  padding: 0 4px;
  height: auto;
  margin-left: 1rem;
  position: relative;
}

.nav .nav-wrapper .nav-link .nav-link-item:hover .nav-btn {
  color: red;
  transform: translateY(-100%);
}

.nav .nav-wrapper .nav-link .nav-link-item .nav-btn {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0, 1.07, 0.89, 0.99);
}

.nav .nav-wrapper .nav-link .nav-link-item .nav-btn.animate {
  position: absolute;
  top: 100%;
  left: 4px;
}

.nav .menu-responsive {
  z-index: 50;
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: #fff;
  flex-direction: column;
  align-items: center;
  transition: transform 1s cubic-bezier(0.9, 0.12, 0.2, 1);
  transform: translateY(-100%);
}

.nav .menu-responsive.is-active {
  transform: translateY(0);
}

.nav .menu-responsive .menu-responsive-items {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav .menu-responsive .menu-responsive-items .menu-item-wrap {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 40px;
}

.nav .menu-responsive .menu-responsive-items .menu-item-wrap li {
  font-size: 39px;
  overflow: hidden;
  position: relative;
}

.nav .menu-responsive .menu-responsive-divider {
  border: none;
  border-top: 1px solid #ccc;
  width: 65%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.nav .menu-responsive .menu-responsive-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav .menu-responsive .menu-responsive-footer h4 {
  margin-bottom: 1rem;
}

.nav .menu-responsive .menu-responsive-footer a {
  border-bottom: 1px solid #333;
  padding-bottom: 3px;
}

.nav .bg-dimming {
  display: none;
}

.nav .nav-wrapper .burger-menu {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.nav .nav-wrapper .burger-menu .burger-menu-top {
  width: 24px;
  height: 1px;
  background: #010101;
  margin: 5px 0;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav .nav-wrapper .burger-menu .burger-menu-bottom {
  width: 24px;
  height: 1px;
  background: #010101;
  margin: 5px 0;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav .nav-wrapper .burger-menu.is-active .burger-menu-top {
  transform: translateY(3px) rotate(45deg);
}

.nav .nav-wrapper .burger-menu.is-active .burger-menu-bottom {
  transform: translateY(-3px) rotate(-45deg);
}

@media (max-width: 800px) {
  .nav .nav-wrapper .burger-menu {
    display: block;
  }
  .nav .nav-wrapper .nav-link {
    display: none;
  }
  .nav .menu-responsive {
    display: flex;
  }
}

#hero {
  width: 100%;
  height: 100vh;
}

#body.dark #hero .cta-link {
  color: #fff;
}

#hero .container {
  height: 100%;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  align-items: center;
}

.hero-container .hero-headline {
  grid-row: 1;
  grid-column: 1/4;
  z-index: 10;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.5;
}

.hero-container .hero-avatar {
  grid-row: 1;
  grid-column: 3/5;
}

#hero .hero-contact-cta {
  position: absolute;
  bottom: 5rem;
  right: 0;
  overflow: hidden;
}

#hero .hero-contact-cta .cta-link {
  font-weight: 401;
  font-size: 0.85rem;
  position: relative;
}

#hero .hero-contact-cta .cta-link:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #333;
  transform: translateX(-200%);
  transition: all 500ms ease-in-out;
}

#hero .hero-contact-cta .cta-link:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #333;
  transform: translateX(0);
  transition: all 500ms ease-in-out;
}

#hero .hero-contact-cta .cta-link:hover:before {
  transform: translateX(0);
}

#hero .hero-contact-cta .cta-link:hover:after {
  transform: translateX(200%);
}

#hero .c-spinner {
  position: absolute;
  bottom: 5rem;
  left: -2rem;
  width: 10rem;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 901px) {
  .hero-container .hero-headline {
    font-size: 2rem;
  }
}

@media (min-width: 1500px) {
  .hero-container .hero-headline {
    font-size: 4rem;
  }
}

@media (max-width: 650px) {
  .hero-container .hero-headline {
    grid-column: 1/5;
  }
  .hero-container .hero-avatar {
    display: none;
  }
  #hero .c-spinner {
    width: 7rem;
  }
}

#about {
  padding: 5rem 0;
  margin-top: 1px;
}

#body.dark #about .social-links .social-links-wrapper .social-link {
  color: #fff;
}

#about .intro {
  overflow: hidden;
}

#about .intro .intro-short {
  cursor: default;
  font-size: 1rem;
  margin-bottom: 2rem;
}

#about .intro .intro-short .hover-text {
  position: relative;
}

#about .intro .intro-short .hover-text .hover-image {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 200px;
  display: none;
}

#about .intro .intro-short .hover-text:hover .hover-image {
  display: block;
}

#about .intro .intro-long {
  font-size: 0.8rem;
  line-height: 1.75;
  color: #bebebe;
}

#about .social-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

#about .social-links .social-link {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.7rem;
  margin-right: 1.5rem;
}

#about .social-links .social-link .fa-arrow-right {
  transition: transform 0.3s ease-out;
}

#about .social-links .social-link:hover .fa-arrow-right {
  transform: translateX(5px);
}

@media (min-width: 900px) {
  #about .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #about .social-links-wrapper {
    display: flex;
  }
}

@media (min-width: 1200px) {
  #about .intro .intro-short {
    font-size: 1.5rem;
  }
  #about .intro .intro-long {
    font-size: 1rem;
  }
  #about .social-links .social-link {
    font-size: 1.5rem;
  }
}

#work {
  margin-bottom: 10rem;
  padding-top: 5rem;
}

#work .item {
  width: 100%;
  position: relative;
}

#work .item:nth-of-type(1) .item-image {
  background: url(https://d33wubrfki0l68.cloudfront.net/static/media/8222d868ea40f4cc8e1eeb8a24583a7f0eaaf6d7/gibbsregister.15f496e2.jpg);
  background-size: cover;
  background-position: 50% 0;
}

#work .item:nth-of-type(2) .item-image {
  background: url(https://d33wubrfki0l68.cloudfront.net/static/media/55560773b026dc96d3d5968ebc39758d03ff3a52/curaeskin.c91dfba0.jpg);
  background-size: cover;
  background-position: 50% 0;
}

#work .item:nth-of-type(3) .item-image {
  background: url(https://d33wubrfki0l68.cloudfront.net/static/media/59d34e7bce2d06887fce0e848700ff80bd04ad5f/rumberger.f381750b.jpg);
  background-size: cover;
  background-position: 50% 0;
}

#work .item:nth-of-type(4) .item-image {
  background: url(https://d33wubrfki0l68.cloudfront.net/static/media/e9dc90145a1dc18c51af21520ded19dd4c36ab4b/tesla.402f7098.jpg);
  background-size: cover;
  background-position: 50% 0;
}

#work .item:nth-of-type(5) .item-image {
  background: url(https://d33wubrfki0l68.cloudfront.net/static/media/63a36dc9eb2a6bf674cf86965ba3d0ae78c9a409/bumble.a8415d0c.jpg);
  background-size: cover;
  background-position: 50% 0;
}

#work .item:nth-of-type(6) .item-image {
  background: url(https://d33wubrfki0l68.cloudfront.net/static/media/4689d7c13c65dceaa127ac5ca19a524755eba7f3/proteandg.e7c7eb82.jpg);
  background-size: cover;
  background-position: 50% 0;
}

#work .item:nth-of-type(7) .item-image {
  background: url(https://d33wubrfki0l68.cloudfront.net/static/media/6986dc7da83b30c16032342ff5b2f08231714ddf/snapchat.49815744.jpg);
  background-size: cover;
  background-position: 50% 0;
}

#work .item .item-image-wrap {
  width: 100%;
  min-height: 540px;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
}

#work .item .item-image-wrap:hover .item-image {
  transform: scale(1.05);
}

#work .item .item-image-wrap .item-image {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#work .item .item-caption .item-caption-title {
  font-size: 1rem;
  font-weight: 410;
  margin-bottom: 0.7rem;
}

#work .item .item-caption .item-caption-copy {
  font-size: 0.8rem;
}

#work .work-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}

#body.dark #work .item-caption-title {
  color: #fff;
}

#body.dark #work .item-caption-copy {
  color: #d7c9c2;
}

.fade-in {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 200ms ease-in, transform 500ms ease-in;
}

.fade-in.animate {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 750px) {
  #work .work-grid {
    grid-template-columns: 1fr 1fr;
  }
  .fade-in.animate:nth-of-type(even) {
    opacity: 1;
    transition-delay: 200ms;
    transform: translateY(5%);
  }
}

@media (min-width: 1200px) {
  #work .work-grid .item-image-wrap {
    min-height: 700px;
  }
}

@media (min-width: 1500px) {
  #work .work-grid .item-image-wrap {
    min-height: 900px;
  }
}

#footer {
  margin-bottom: 5rem;
  padding-top: 5rem;
}

#footer .r-footer {
  margin-bottom: 6rem;
  min-height: 70vh;
  align-items: center;
}

#footer .r-footer .r-footer-c-first {
  margin-bottom: 2rem;
}

#footer .r-footer .r-footer-c-first .o-heading-m {
  font-weight: 400;
}

#footer .r-footer .r-footer-c-first .o-heading-m span {
  font-weight: bold;
}

#footer .r-footer .r-footer-c-second .f-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 3rem;
}

#footer .r-footer .r-footer-c-second .f-links .f-link {
  color: #fafafa;
  text-decoration: underline;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

#footer .r-footer .r-footer-c-second .f-links .f-link:hover {
  color: #e64d43;
}

#footer .r-footer .r-footer-c-second .w-title {
  text-transform: uppercase;
  color: #d7c9c2;
  font-size: 0.8rem;
  text-decoration: underline;
  font-weight: 410;
  margin-bottom: 1.5rem;
}

#footer .r-footer .r-footer-c-second .footer-email {
  color: #fafafa;
  transition: all 200ms ease-in-out;
}

#footer .r-footer .r-footer-c-second .footer-email:hover {
  color: #e64d43;
}

#footer .w-copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 0.7rem;
}

#footer .w-copyright .w-copyright-bye {
  display: flex;
  align-items: center;
}

#footer .w-copyright .w-copyright-bye .smiley {
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

@media (min-width: 750px) {
  #footer .r-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 1200px) {
  #footer .r-footer .r-footer-c-second .f-links {
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.5rem;
  }
  #footer .o-heading-m {
    font-size: 3rem;
  }
}

.marquee {
  font-size: 0.8rem;
  margin-bottom: 2rem;
  overflow: hidden;
  cursor: default;
}

.marquee .marquee-wrap {
  display: inline-block;
}

.marquee .marquee-wrap .marquee-title {
  display: flex;
  min-width: 100px;
  min-height: 20px;
  position: relative;
  overflow: hidden;
}

.marquee .marquee-wrap .marquee-title .w-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: underline;
  text-transform: uppercase;
  white-space: nowrap;
  animation: marqueeSlider 7s linear infinite;
  margin: 0 0.2rem;
  transform: translateX(100%);
}

#honors {
  position: fixed;
  top: 50vh;
  right: 0;
  z-index: 20;
  background: #010101;
  color: #fafafa;
  padding: 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  transform: translateY(-50%);
  opacity: 0;
}

#honors .honors-w {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 3rem;
}

#honors .honors-honors {
  transform: rotate(-90deg);
  padding: 1.5rem 0;
  font-size: 0.5rem;
}

@keyframes marqueeSlider {
  100% {
    transform: translateX(-100%);
  }
}

#body.dark .marquee {
  color: #d7c9c2;
}

@media (min-width: 540px) {
  #honors {
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  #honors .honors-w {
    font-size: 1.5rem;
  }
  #honors .honors-honors {
    font-size: 0.8rem;
  }
}
