@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  color: #010101;
}

a {
  text-decoration: none;
  color: #010101;
}

ul {
  list-style: none;
}

.container {
  padding: 0 2rem;
}

// Responsive
@media (min-width: 540px) {
  .container {
    padding: 0 3rem;
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 0 6rem;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0 10rem;
  }
}
