@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Colors
$dark: #010101;
$white: #fafafa;
$red: #e64d43;
$light: #d7c9c2;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $white;
  color: $dark;
  line-height: 1.5;
  transition-duration: 0.3s;

  &.dark {
    background: $dark;
    color: $white;
  }
}

a {
  text-decoration: none;
  color: $dark;
}

ul {
  list-style: none;
}

.container {
  padding: 0 2rem;
}

img {
  width: 100%;
}

.underline {
  text-decoration: underline;
}

// Responsive
@media (min-width: 540px) {
  .container {
    padding: 0 3rem;
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 0 6rem;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0 10rem;
  }
}
