.marquee {
  font-size: 0.8rem;
  margin-bottom: 2rem;
  overflow: hidden;
  cursor: default;

  .marquee-wrap {
    display: inline-block;

    .marquee-title {
      display: flex;
      min-width: 100px;
      min-height: 20px;
      position: relative;
      overflow: hidden;

      .w-title {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: underline;
        text-transform: uppercase;
        white-space: nowrap;
        animation: marqueeSlider 7s linear infinite;
        margin: 0 0.2rem;
        transform: translateX(100%);
      }
    }
  }
}

#honors {
  position: fixed;
  top: 50vh;
  right: 0;
  z-index: 20;
  background: $dark;
  color: $white;
  padding: 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  transform: translateY(-50%);
  opacity: 0;

  .honors-w {
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .honors-honors {
    transform: rotate(-90deg);
    padding: 1.5rem 0;
    font-size: 0.5rem;
  }
}

@keyframes marqueeSlider {
  100% {
    transform: translateX(-100%);
  }
}

// Dark Theme
#body.dark {
  .marquee {
    color: $light;
  }
}

// Responsive Media Queries
@media (min-width: 540px) {
  #honors {
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  #honors {
    .honors-w {
      font-size: 1.5rem;
    }

    .honors-honors {
      font-size: 0.8rem;
    }
  }
}
